:root {
    --page-padding: 80px;
    --grid-gap: 30px;
    --alb : #846f50;
    --auriu-fundal : #e6dac5;
    --auriu-text-titlu : #8d774a;
    --negru-text: #72581b;
    --auriu : #c2a676;
    --fundal-main : #fdfaf5;
    --auriu-inchis : #c0a13d;
    font-size: 15px;
}



#grid-pagina{
    grid-template-columns: 25% 30% 20% 25%;
    display: grid;
    grid-template-areas: 
            "introduction introduction inspiration inspiration"
            "apart apart apart apart"
            "menu menu gallery gallery"
            "events-offers events-offers events-offers events-offers"
            "femd femd femd demd"
            "rezervations map map faq";

}


#introduction{
    grid-area: introduction;
}
#fpic{
    grid-area: fpic;
}
#inspiration{
    grid-area: inspiration;
}
#apart{
    grid-area: apart;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: "fpic1 set fpic2";
    grid-gap: 5%;
}

#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#menu{
    grid-area: menu;
}
#gallery{
    grid-area: gallery;
    display: flex;
    justify-items: center;
}
#gallery section{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    justify-items: center; 
}

#grid-pagina > *{
    padding: 5%;
}

#grid-pagina > figure{
    margin: 0;
}

#events-offers{
    grid-area: events-offers;
}
#femd{
    grid-area: femd;
}

#demd{
    grid-area: demd;
}
#map{
    grid-area: map;
}
#faq{
    grid-area: faq;
}
#rezervations{
    grid-area: rezervations;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: var(--alb); 
    color: var(--auriu-text); 
    line-height: 1.6;
}


header {
    background-color: var(--auriu-fundal); 
    color: var(--auriu-text);
    padding: var(--text-padding);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid var(--auriu); 
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--auriu-fundal); 
    padding: 12px;
    border-bottom: 2px solid var(--auriu); 
}

nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: --auriu-text; 
    text-decoration: none;
    font-weight: bold;
    padding: var(--text-padding);
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
}

main {
    margin: 20px auto;
    padding: 20px;
    background-color: #fdfaf5; 
    color: --negru-text; 
    box-shadow: 0px 0px 10px rgba(194, 166, 118, 0.3);
    border-radius: 8px;
    max-width: calc(100% - 2 * var(--page-padding));
}


h1, h2, h3, h4, h5 {
    color: #8d774a;
    margin-bottom: 10px;
}

h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

ul, ol {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%; 
    max-width: 500px; 
    height: 100%; 
    border-radius: 8px; 
    display: block;
    margin: 10px auto; 
    border: 2px solid #c2a676; 
}


figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    color: var(--alb);
}

blockquote {
    font-style: italic;
    margin: 20px;
    padding: 10px;
    border-left: 5px solid #c2a676; 
    background-color: rgba(194, 166, 118, 0.2);
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 2px solid #c2a676; 
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #f1e7d0; 
    color: var(--negru-text);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e6dac5; 
    display: flex;
    border-bottom: 3px solid #c2a676; 
    position: sticky;
}

.menu li {
    position: relative;
}
.menu a {
    position: relative;
    display: block;
    padding: 12px 20px;
    color: #8d774a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    overflow: hidden;
}

.menu>li>a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px; 
    height: 1px;
    background: #c2a676;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: -1;
}

.menu>li>a:hover::before {
    width: 100%;
    height: 100%;
}

.menu>li>a:hover {
    color: #fff;
}



.submenu {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    border-radius: 5px;
    min-width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.menu li:hover > .submenu {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.submenu li {
    width: 85%;
}


.submenu a {
    display: block;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.submenu a:hover{
    background-color: white;
    color: var(--auriu);
    transition: all 0.3s ease-in-out;
}



.menu li:hover > .submenu {
    display: block;
}

a {
    color: var(--auriu);
}


#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 16px;
    padding: 20px;
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#gallery img:hover {
    transform: scale(1.05);
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}


#link-top { 
    position: fixed;
    bottom: 0.3em;
    right: 0.3em;
    opacity: 0.5;
    width: 4rem;
    height: 4rem;
    line-height: 3rem;
    border-radius: 50%;
    background: rgb(220,220,220);
    display: flex;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}

#link-top .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px dashed rgb(242, 191, 81); 
    border-radius: 50%;
    background: rgb(220,220,220);
    z-index: 0;
    opacity: 0.5;
}

#link-top:hover { 
    background-color: white;
    opacity: 1;
}
#link-top:hover .border {
    opacity: 1;
    animation: rotate-border 2s linear infinite; 
}
@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sageata {
    color: var(--auriu-inchis);
    font-size: 2.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}



.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#menu-toggle {
    display: none;
}




.container-iframe {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 0px; 
    margin-top: 20px;
}

.taburi-iframe {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.taburi-iframe a {
    text-decoration: none;
    background-color: var(--auriu);
    color: white;
    padding: 10px 20px;
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 10px 10px 0 0; 
    font-weight: bold;
    transition: 0.3s;
}


.taburi-iframe a:hover {
    background-color: var(--auriu-inchis);
}
iframe{
    padding: 0;
    margin-top: 0;
}


table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    max-height: 300px;
    overflow: auto; 
    display: block; 
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
}
thead th {
    background-color: var(--auriu-inchis);
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: var(--auriu);
}
tbody tr:nth-child(even) {
    background-color: var(--auriu-fundal);
}
tbody tr:hover {
    background-color: #ffeb99;
    transition: background-color 0.3s;
}
caption {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

aside {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 4px solid #333;
    display: inline-block;
}

math {
    font-size: 20px;
    color: #333;
}

mi {
    font-style: italic;
}

mo {
    color: #555;
}

msup mi {
    font-style: normal; 
    font-size: 0.8em;
    vertical-align: super;
}



@media print {
    #banner {
        position: fixed;
        top: 0;
        width: 80%;
        left: 10%;
        text-align: center;
        border: 2px dotted black;
        padding: 10px;
        font-weight: bold;
        background: white;
    }

    img, video, iframe, .media-description, .back-to-top {
        display: none !important;
    }

    .grid-container {
        display: block !important;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-size: 100px;
        text-align: center;
        text-decoration: underline;
        page-break-after: always;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .menu {
        display: none;
    }

    footer {
        page-break-before: always;
    }

    .watermark {
        position: fixed;
        bottom: 1cm;
        right: 1cm;
        width: 100px;
        height: 2cm;
        border: 3px double black;
        opacity: 0.65;
        text-align: center;
        line-height: 2cm;
        font-weight: bold;
        background: white;
        z-index: 9999;
    }

    @page :left {
        margin-left: 2.5cm;
        margin-right: 0.5cm;
    }

    @page :right {
        margin-left: 0.5cm;
        margin-right: 2.5cm;
    }
}


#video-vtt {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  video::cue {
    background-color: rgba(0, 0, 0, 0.75); 
    color: white;                         
    text-align: left;                     
    font-size: 1rem;
  }


  :root {
    --culoare-link-vizitat: #c9934d; 
    --culoare-pata: rgba(189, 119, 14, 0.3); 
    --culoare-hover-simbol: crimson;
  }
  
  body {
    font-family: sans-serif;
    background-color: #f9f9f9;
  }
  
  a {
    color: rgb(246, 197, 63);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
  }
  
  
  a:visited {
    color: var(--culoare-link-vizitat);
  }
  
  a[href^="http"]::before {
    content: "⮳ ";
    font-size: 1.5em; 
    vertical-align: middle;
    transition: color 0.3s ease;
  }
  
  a[href^="http"]:hover::before {
    color: var(--culoare-hover-simbol);
  }
  
  main a {
    background-image: radial-gradient(
      circle,
      var(--culoare-pata) 0%,
      var(--culoare-pata) 40%,
      transparent 80%,
      transparent 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    border-radius: 50%;
    transition: background-size 0.5s ease;
  }
  
  main a:hover {
    background-size: 100%;
  }
  
  main a:active {
    border: 2px solid var(--culoare-link-vizitat);
    border-radius: 4px;
  }
  

  hr {
    border: none;
    height: 20px;
    width: 100%;
    background: linear-gradient(
        to right,
        var(--auriu) 0%, var(--auriu) 10%,     
        white 10%,   white 15%,          
        var(--auriu) 60%,             
        var(--auriu) 100%            
    );
}

hr {
    position: relative;
    height: 20px;
    width: 100%;
    border: none;
    background: linear-gradient(
        to right,
        var(--auriu) 0%, var(--auriu) 0%,     
        white 0%,   white 15%,          
        var(--auriu) 60%,             
        var(--auriu) 100%            
    );
    overflow: hidden;
  }
  
  hr::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:  100px; 
    height: 100%;
    background: var(--auriu);
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 100%, calc(100% - 30px) 100%, 0% 100%);
  }

  hr::after {
    content: '';
    position: absolute;
    left: 100px;
    top: 0;
    width: calc(100% - 200px);
    height: 100%;
    background: linear-gradient(to right, white, var(--auriu));
    clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  

  .efect-css-reflexie-text {
    position: relative;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    line-height: 1;
  }
  
  .efect-css-reflexie-text::after {
    content: attr(data-text);
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    transform: scaleY(-0.7) rotate(4deg);
    opacity: 0.9;
    background: repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0px,
      rgba(255, 255, 255, 0.3) 2px,
      rgba(255, 255, 255, 0) 4px
    );
    -webkit-mask-image: repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.5) 0px,
      rgba(0,0,0,0) 8px,
      rgba(0,0,0,0.5) 16px
    );
    mask-image: repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.5) 0px,
      rgba(0,0,0,0) 8px,
      rgba(0,0,0,0.5) 16px
    );
    transition: mask-position 0.5s linear, -webkit-mask-position 0.5s linear;
    pointer-events: none; 
  }
  
  .efect-css-reflexie-text:hover::after {
    animation: animatie-unde 2s linear infinite;
  }
  
  @keyframes animatie-unde {
    0% {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    100% {
      -webkit-mask-position: 0 20px;
      mask-position: 0 20px;
    }
  }




  #efect-css-duotone {
    position: relative;
    width: 400px;
    height: 300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzTA8ve1So_iGYhHbR98SrVadldOX3nL6VoA&s');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
  }
  
  #efect-css-duotone::before,
  #efect-css-duotone::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 1s ease;
    mix-blend-mode: screen; 
  }
  
  #efect-css-duotone::before {
    left: 0;
    background-color: #ff0055; 
    transform: translateX(-100%);
  }
  

  #efect-css-duotone::after {
    left: 0;
    background-color: #0055ff; 
    transform: translateX(100%); 
  }
  
  #efect-css-duotone:hover::before,
  #efect-css-duotone:hover::after {
    transform: translateX(0);
  }
  

  .text-coloane {
    column-count: 2;
    column-gap: 40px; 
    column-rule: 2px solid gray; 
    font-size: 18px;
    padding: 20px;
  }
  

  @media (max-width: 750px) {
    .text-coloane {
      column-count: 1; 
    }
  }

  :root {
    --culoare-fundal-selectie: var(--auriu);
    --culoare-text-selectie: var(--fundal-main);   
  }
  ::selection {
    background-color: var(--culoare-fundal-selectie);
    color: var(--culoare-text-selectie);
  }



  .container-text {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    background: #f0f0f0; 
    padding: 10px 0;
    position: relative;
  }
  
  .text-animat {
    display: inline-block;
    padding-left: 100%; 
    animation: plimbare 10s linear infinite;
    font-size: 24px;
    font-weight: bold;
  }
  
  @keyframes plimbare {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }