<footer>
    <p><a href="#">Home</a></p>
    <address id = "contact">
        <p>Phone: <a href="tel:+408128812">+40 812 8812</a></p>
        <p>Adress: <a href="https://maps.app.goo.gl/3775N8xYJuAQm8MJ6">University of Bucharest</a></p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.4809271726594!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1740959012192!5m2!1sro!2sro" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        <p>Email: <a href="mailto:contact@steakhouse.ro">contact@steakhouse.ro</a></p>
        <p>Chat: <a href="skype:live:steakhouse?chat">Skype</a></p>
    </address>
    <small>&copy; <time datetime="2025-02-25">25 february 2025</time> Steakhouse</small>
    <a href="#">
        <div id="link-top">
            <div class="border"></div>
            <div class="sageata">&#8593;</div> 
        </div>
    </a>
    <div id="banner">Acesta este un proiect scolar!</div>
    <div class="watermark">Stefanut Florescu</div>
</footer>