<header>
    <h1>Steakhouse</h1>
    
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </label>
    
    <nav>
        <ul class="menu">
            <li><a href="/home"><i class="fa-solid fa-house"><span class="menu-text">Home</span></i></a>
                <ul class="submenu">
                    <li>
                        <a href="#introduction">Our Restaurant
                            <div class="fa-3x">
                                <i class="fa-solid fa-circle-plus fa-beat"></i>
                                <i class="fa-solid fa-heart fa-beat"></i>
                                <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;"></i>
                                <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>
                                <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
                              </div>
                        </a>
                    </li>
                    <li><a href="#inspiration">Inspiration</a></li>
                </ul>
            </li>
            <li><a href="/home/#menu"><i class="fa-solid fa-utensils"></i><span class="menu-text">Menu</span></a>
                <ul class="submenu">
                    <li><a href="#food">Food</a></li>
                    <li><a href="#drinks">Drinks</a></li>
                </ul>
            </li>   
            <li><a href="/galerie-v"><i class="fa-solid fa-image"></i><span class="menu-text">Gallery</span></a></li>
            <li><a href="#rezervations"><i class="fa-solid fa-calendar"></i><span class="menu-text">Rezervations</span></a></li>
            <!-- <li><a href="#events-offers"><i class="fa-solid fa-ticket"></i><span class="menu-text">Events & Offers</span></a>
                <ul class="submenu">
                    <li><a href="#new">New Things</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#offers">Offers</a></li>
                </ul>
            </li> -->
            <li><a href="#contact"><i class="fa-solid fa-circle-user"></i><span class="menu-text">Contact</span></a></li>
            <li><a href="#produse">Produse</a>
                <ul class="submenu">
                    <li><a href="/produse">Toate</a></li>
                    <% for (let optiune of optiuni) { %>
                        <li><a href="/produse?categ=<%= optiune.unnest %>"><%= optiune.unnest %></a></li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </nav>            
</header>