@media (max-width: 1200px) {
    :root {
        --page-padding: 40px;
        --grid-gap: 20px;
        font-size: 15px;
    }

    #grid-pagina {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "introduction introduction"
            "inspiration inspiration"
            "apart apart"
            "menu gallery"
            "events-offers events-offers"
            "femd demd"
            "rezervations map"
            "faq faq";
    }

    #apart{
        grid-area: apart;
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-template-areas: "fpic1 set" "fpic2 set";
    }

    #gallery section{
        width: 100%;
        gap: 5px;
    }


    header {
        font-size: 20px; 
    }


    nav ul li {
        margin: 0 10px;
    }

    img {
        max-width: 100%;
    }
    main{
        max-width: 90%;
    }


    .menu-text {
        display: none;
    }
}