.galerie-animata {
  display: flex;
  overflow: hidden;
  border: 20px solid transparent;
  border-image: url("../imagini/border/border.png") 30 round;
  padding: 10px;
  position: relative;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
.galerie-animata .imagine-galerie {
  flex: 0 0 auto;
  animation: slide 3s ease-in-out infinite;
  transform-origin: center;
}
.galerie-animata .imagine-galerie img {
  height: 100%;
  transition: transform 0.5s ease;
}
.galerie-animata:hover .imagine-galerie {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: scaleY(1) rotate(0deg) translateX(0);
  }
  40% {
    transform: scaleY(0.1) rotate(0deg) translateX(0);
  }
  50% {
    transform: scaleY(0.1) rotate(90deg) translateX(100%);
  }
  90% {
    transform: scaleY(1) rotate(90deg) translateX(100%);
  }
  100% {
    transform: scaleY(1) rotate(180deg) translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .galerie-animata {
    display: none;
  }
}